CFD output
data/output/
data/results.csv
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Terraform
terraform/.terraform/
terraform/.tfstate
terraform/.tfstate.backup
terraform/*.tfplan

# Docker
*.tar
